<p id="notice"><%= notice %></p>
<h1>Detalles</h1>
<h2>Tema: <%= @subject.name%></h2>
<p>
  <table class="table">
    <thead>
    <tr>
      <th>Concepto</th>
      <th>Definición</th>
      <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <%@concepts.each do |concept|
      if concept.subject.id == @subject.id%>
            <tr>
              <td><%= concept.name %></td>
              <td><%= concept.definition %></td>
            </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Edit', edit_subject_path(@subject), class: 'btn btn-info' %>
<%= link_to 'Back', subjects_path, class: 'btn btn-primary' %>
